
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Agbalumo&family=Caveat:wght@400..700&family=Cookie&family=DM+Serif+Text:ital@0;1&family=DynaPuff:wght@400..700&family=Lilita+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Rouge+Script&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.nav{
    height: 40px;
    left: 0%;
    width: 100%;
    display: flex;
    background-color: gray;
    position: absolute;
    top: 0px;
   background-color: rgb(159, 156, 156);
   align-items: center;
}

.heading{
   left: 45%;
   position: relative;
   font-family: "Agbalumo", serif;
   font-weight: 400;
   font-style: normal;  
   animation: headi 1s;  
}
@keyframes headi{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.side{
    font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
    animation: headi2 1s;
}
@keyframes headi2{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
