body{
    background-color: black;
}
.t{
    background: -webkit-linear-gradient(rgb(233, 49, 236), rgb(12, 218, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav{
    align-items: center;
    display: flex;
}
.btns{
    
    position: absolute;
    right: 20px;
    display: flex;
    gap: 20px;
}
.bt{
    border: 1px solid purple;
    align-items: center;
    display: flex
;
    font-size: 15px;
    border-radius: 50px;
    height: 35px;
}
.bt:hover{
    cursor: pointer;
    scale: 1.1;
    border: 2px solid purple;
}
.icon{
    width: '25px';
     height: '25px';
}
.heading{
    font-size: 25px;
    text-align: center;
    margin-top: 50%;
    /* top: 5px; */
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    display: flex
;
    flex-direction: column;
    color: white;
   
}
.title{
    font-size: 40px;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    overflow: hidden; 
    white-space: nowrap; 
   
    margin: 0  auto;
    letter-spacing: 2px;
   
}
@keyframes typing{
    from{
        width: 0%;
        border-right: 4px solid purple;
    }
    to{
        width: 100%;
        border-right: none;
    }
}
.bottom{
    animation: appear 2.5s;
}
@keyframes appear{
    from{
        transform: translateY(100%);
        color: black;
        display: none;
    }
    to{
        transform: translateY(0%);
        color: white;
        display: block;
    }
}
.button{
    margin-right: 300px;
    margin-left: 250px;
   animation: appear2 2s;
;
    /* margin: auto; */
    gap: 45px;
    
}
.button .bt{
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 25px;
    background-color: rgb(103 28 209);
    color: white;
    animation: appear2 2.5s;
}

@keyframes appear2{
    from{
        transform: translateY(100%);
        color: black;
        display: none;
    }
    to{
        transform: translateY(0%);
        color: white;
        display:  flex;
    }
}

.img{
    display: flex;
    justify-content: center;
    position: sticky;
    margin-top: 50px;
}
.im{

    border: 1px solid white;
    border-radius: 20px;
    height: 60vh;
    width: 100vh;
    animation: shows 3.5s;
}
@keyframes shows{
    from{
        opacity: 0%;
    }
    to{
       opacity: 100%;
    }
}



.features{
    position: relative;
    display: grid;
    gap: 5%;
    grid-template-columns: auto auto auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 100px;
}
.features> .box3{
    text-align: center;
    border-radius: 30px;
    display: flex;
    background-color: #d8bff3;
    height: 30vh;
    flex-direction: column;
    border: 2px solid white;
}

.why{
    text-decoration: underline;
    color: rgb(103 28 209);
    text-align: center;
    position: relative;
    top: 7vh;
}

.h{
        font-size: 25px;
        display: flex  ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.icon2{
    height: 50px;
    width: 50px;
}

@media (max-width:1350px)
{
    .im{
        height: 45vh;
        width: 60vh;
    }
    .title{
       font-size:30px;
    }
}

@media (max-width:977px)
{
   .bottom{
    font-size: 15px;
   }
    .title{
       font-size:20px;
    }
}

@media (max-width:750px)
{
    .im{
        height: 35vh;
        width: 50vh;
    }
    .features{
        grid-template-columns: auto;
    }
    .para{
        font-size: 20px;
    }
}

@media (max-width:665px)
{
    .im{
        height: 30vh;
        width: 35vh;
    }
    .title{
        font-size: 15px;
    }
    .button{
       margin-left: 0px;
       margin-right: 0px;
       display: flex;
       margin: auto;
       width: 60%;
    }
   
}

@media (max-width:535px)
{
    .nav{
       font-size: 10px;
    }
    .bt{
      height: 30px;
    }
    .title{
        font-size: 10px;
    }
   
}
@media (max-width:420px)
{
    .features{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .title{
        font-size: 9px;
    }
}

